.posts-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.posts {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100vh;
    border-left: 0.8px solid #dedede;
    border-right: 0.8px solid #dedede;
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}